<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= favicon_link_tag 'red_dot.gif' %>
    <title>Santa Clara Deals | Great Deals in Santa Clara, Sunnyvale, Campbell and Los Altos</title>
    <meta name="description" content="Bringing great deals to the South Bay and Santa Clara County. Sign up today and get deals on restaurants, acitivities, services and products." />

    <!-- Google Web Fonts
     ================================================== -->
    <link href='http://fonts.googleapis.com/css?family=Lobster+Two:700|Bree+Serif|Muli' rel='stylesheet' type='text/css'>

    <!-- Mobile Specific Metas
     ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <!-- Javascript
     ================================================== -->
    <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
    <!-- <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <!-- <script src="assets/js/supersized.js"></script> -->
    <style>

      #head  {
      background: url(<%= image_path('slider/chef.jpg') %>);
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      }

    </style>
    <meta name="google-site-verification" content="fZ_gF6ISLhvJd20cowEMyuog_hhJn5fI4TRR1DOTTQQ" />
  </head>
  <body>

    <%= yield %>

    <!-- Footer Section -->
    <section class="body">
      <div class="inner">
        <div class="copyright float_left">
          <p>&copy; 2013 Santa Clara Deals.</p>
          <p>All Rights Reserved.</p>
        </div>
        <br><br><br>
        <div class="right_text">
           If you're a business with deals to offer, please contact us at info@santaclaradeals.com.
        </div>
      </div>
    </section>

  </body>

  <script src=<% javascript_include_tag("core.js?asdasdasd") %> ></script>

  <!-- CODE FOR ANALYTICS-->
  <script type="text/javascript">

      var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-38806309-1']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

  </script>
</html>
